@import "bootstrap/bootstrap.less";
@import "mixins.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
  overflow-x: hidden;  /* fix horizontal scrollbar */
  a{
    .transition(color .3s ease-in-out);
    &:hover{
      color:@brand-success;
      text-decoration: none;
      .transition(color .3s ease-in-out);
    }
  }
}




/* ==========================================================================
   Header
   ========================================================================== */
.navbar .container {
  padding-left:30px;
  padding-right:30px;
  width:100%;
}
.banner { }
.navbar-right{
  max-width:88%;
  padding:0px;
  position:relative;
  #rijplaten-button-container {
    position:relative;
    right:-32px;
    top:-1px;
    width: 100%;
    .rijplaten-button{
      background:url('/app/themes/breure/assets/img/btn-rijplaten.png') no-repeat 100% 100%;
      float:right;
      height:60px;
      width:395px;
      .transition(all .3s ease-in-out);
      a{
        color: white;
        float: right;
        font-family: @headings-font-family;
        font-size: 1.625em;
        line-height: 60px;
        margin-right: 76px;
        text-transform: uppercase;
        &:hover{
          text-decoration:none;
        }
      }
      &:hover{
        background:url('/app/themes/breure/assets/img/btn-rijplaten-hover.png') no-repeat 100% 100%;
        height:60px;
        .transition(all .3s ease-in-out);
      }
    }
  }
  .navbar-nav{
    float:right;
    li{
      a{
        color:#454545;
        font-family:@headings-font-family;
        font-size:1.25em;
        text-transform:uppercase;
        .transition(color .3s ease-in-out);
        &:hover{
          background:none;
          color:@brand-success;
          .transition(color .3s ease-in-out);
        }
      }
      &:last-of-type a{
        padding-right:0px;
      }
    }
    .active{
      padding:0px 15px;
      a{
        border-bottom:1px solid @brand-success;
        padding:10.5px 0px 2px 0px;
      }
    }
    li:last-of-type.active{
      padding-right:0px;
    }
  }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  .top-banner{
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color:white;
    display: inline-block;
    position:relative;
    width: 100%;
    .inner{
      display: block;
      height: 0;
      padding-top: 32.35%; /* height/width of image */
      position:relative;
      .top-content{
        font-weight: 100;
        position:absolute;
        top:0;
        .top-left-content{
          float:left;
          width:50%;
          .page-header{
            border-bottom:0px;
            margin-bottom:20px;
            margin-top:30px;
            padding-bottom: 0px;
            h1{
              font-size:4em;
              font-weight: 100;
              line-height: 1;
            }
          }
          p{
            padding-right:20px;
          }
          p:last-of-type{
            margin-botton:0px;
            .lees-meer{
              color:@brand-success;
              font-size: @font-size-large;
              font-weight:500;
              letter-spacing:1px;
              a{
                color:white;
                .transition(color .3s ease-in-out);
                &:hover{
                  color:@brand-success;
                  text-decoration:none;
                  .transition(color .3s ease-in-out);
                }
              }
            }
          }
        }
        .top-right-content{
          float:left;
          padding-left:150px;
          width:50%;
          .afgerond-project{
            margin-top:70px;
            h6{
              font-weight:100;
              letter-spacing:2px;
              line-height: 31px;
              margin-left: 30px;
              padding-left: 12px;
              text-transform:uppercase;
            }
            h3{
              font-weight: 300;
              padding-top: 30px;
            }
            span{
              border-bottom:1px solid white;
              display:block;
              font-size:1.1em;
              margin-bottom:12px;
            }
            .alle-projecten{
              border-bottom:0px;
              color:@brand-success;
              font-weight:400;
              letter-spacing:1px;
              .pull-right();
              a{
                color:white;
                .transition(color .3s ease-in-out);
                &:hover{
                  color:@brand-success;
                  text-decoration:none;
                  .transition(color .3s ease-in-out);
                }
              }
            }
          }
        }
      }
      .bottom-content{
        bottom:70px;
        display: none;
        position:relative;
      }
    }
  }
  .home-boxes{
    margin:100px auto;
    .row{
        margin-left: -60px;
        margin-right: -60px;
    }
    .box{
      border-right:1px solid #e4e4e4;
      // Prevent columns from collapsing when empty
      min-height: 432px;
      padding-bottom:40px;
      // Inner gutter via padding
      padding-left: 60px;
      padding-right: 60px;
      position: relative;
      .box-heading{
        display:block;
        height:31px;
        position:relative;
        img{
          bottom:0px;
          position:relative;
          top:0px;
        }
        h5{
          font-weight: 500;
          letter-spacing: 4px;
          line-height: 31px;
          margin: 0 0 0 30px;
          padding-left: 12px;
          text-transform:uppercase;
        }
      }
      p{
        margin:60px 0 40px;
        font-weight: 300;
      }
      a{
        color:@brand-success;
        .transition(color .3s ease-in-out);
        &:hover{
          color:lighten(@brand-success, 10%);
        }
      }
      .link{
        color:@brand-success;
        font-weight: 500;
        a{
          color:@text-color;
          .transition(color .3s ease-in-out);
          &:hover{
            color:@brand-success;
          }
        }
      }
      &:last-of-type{
        border-right:0px;
      }
    }
    .materieel-box {
      .box-heading{
        h5{
          line-height:17px;
          margin-left:40px;
        }
      }
    }
  }
}

body.home{
  .main{
    .top-banner{
      .inner{
        .top-content{
          .top-left-content{
            p{
              font-size:.9em;
              margin-bottom:10px;
              &:last-of-type{
                margin-botton:0px;
                img{
                  height:auto;
                  max-width:64px;
                }
              }
            }
          }
        }
      }
    }
  }
}

body:not(.home){
  .main {
    .top-banner {
      .inner{
        padding-top:21.55%;
        .top-content{
          .top-left-content{
            .page-header{
              margin-top:100px;
              img{
                margin-right:20px;
              }
              h1{
                font-size:3em;
                line-height:2;
              }
            }
          }
          .top-right-content{
            margin-top:70px;
            padding-left:90px;
          }
        }
      }
    }
    .boxes{
      margin-top:90px;
      padding-bottom:50px;
      .box{
        margin-bottom:40px;
        a{
          .image{
            position:relative;
            h4{
              color:white;
              font-size:1.635em;
              margin: 0;
              position: relative;
              top: 40%;
            }
          }
          img{
          .transition(color .3s ease-in-out);
          }
          .overlay{
            background:#13017D;
            height:100%;
            opacity:0;
            position: absolute;
            .transition(all .3s ease-in-out);
            width:100%;
            z-index:99;
            top: 0; left:0; bottom: 0; right: 0;
          }
          h4{
            color:@text-color;
            font-size:1.125em;
            font-weight: 300;
            margin-bottom:12px;
            text-align:center;
            .transition(color .3s ease-in-out);
          }
        }
        a:hover{
          img{
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: url(/app/themes/breure/assets/img/desaturate.svg#greyscale);
            .transition(all .3s ease-in-out);
          }
          .overlay{
            opacity:.8;
            .transition(all .3s ease-in-out);
          }
          h4{
            color:@brand-success;
            .transition(color .3s ease-in-out);
          }
          .image{
            h4{
              color:white;
              font-size:1.635em;
              margin: 0;
              position: relative;
              top: 40%;
            }
          }
        }
        hr{
          border:0;
          border-top: 2px solid @brand-success;
          margin: 0px auto;
          width:20%;
        }
      }
    }
    .bottom-content{
      font-size:1.125em;
      font-weight:300;
      margin:100px 0;
      a{
        color:@brand-success;
        .transition(color .3s ease-in-out);
        &:hover{
          color:lighten(@brand-success, 10%);
          text-decoration: none;
          .transition(color .3s ease-in-out);
        }
      }
      ul:not(.gform_fields){
        list-style: none;
        margin:0;
        padding:0;
        li{
          font-size:1.875em;
          padding-left:1em;
          text-indent:-.7em;
          &:before{
            color:@brand-success;
            content:'• ';
          }
        }
      }
      .gform_wrapper{
        margin-top:30px;
        .top_label .gfield_label{
          font-weight: 100;
        }
        .gfield{
          margin-bottom:30px;
        }
        input, textarea{
          background-color:#ececec;
          border:1px solid #b3b3b3;
        }
        input[type=submit]{
          background:url(/app/themes/breure/assets/img/btn-send.png) no-repeat 0 0;
          border:0px;
          color:white;
          font-family: @headings-font-family;
          margin:10px 0 80px;
          padding: 2px 16px;
          .transition(all .3s ease-in-out);
          &:hover{
            background:url(/app/themes/breure/assets/img/btn-send-hover.png) no-repeat 0 0;
            .transition(all .3s ease-in-out);
          }
        }
      }
      h6{
        font-size:.875em;
        font-weight: 500;
        letter-spacing: 4px;
        line-height: 31px;
        margin-bottom:0px;
        margin-top:0px;
        text-transform: uppercase;
      }
      hr{
        border:0;
        border-top: 1px solid #90CC08;
        margin-left:0px;
        margin-top:0px;
        width:20%;
      }
    }
  }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Projects
   ========================================================================== */

.single-project{
  .top{
    height:430px;
    position:relative;
    .overlay{
      background:#13017D;
      content:'';
      height:100%;
      opacity:0.8;
      position: absolute;
      width:100%;
      top: 0; left:0; bottom: 0; right: 0;
    }
    .top-banner{
      height:100%;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url(/app/themes/breure/assets/img/desaturate.svg#greyscale);
    }
    .inner{
      height:100%;
      position:absolute;
      width:100%;
      top: 0; left:0; bottom: 0; right: 0;
      .page-header{
        border-bottom:0px;
        margin-top:170px;
        position:relative;
        h1{
          color:white;
          font-weight:100;
          padding-bottom:40px;
          text-align:center;
        }
        hr{
          border:0;
          border-top: 2px solid #90CC08;
          margin: 0px auto;
          width:25%;
        }
        a{
          position:absolute;
          top:20px;
        }
        a.prev{
          left:-20px;
        }
        a.next{
          right:-20px;
        }
      }
    }
  }
  .entry-content{
    padding-top: 100px;
    .row{
      margin-bottom:60px;
      .title{
        h6{
          font-size:.875em;
          font-weight: 500;
          letter-spacing: 4px;
          line-height: 31px;
          margin-bottom:0px;
          text-transform: uppercase;
        }
        hr{
          border:0;
          border-top: 1px solid #90CC08;
          margin-left:0px;
          margin-top:0px;
          width:20%;
        }
      }
      .field-content{
        font-size:1.125em;
        font-weight:300;
        line-height:32px;
        padding-top:15px;
      }
    }
    .carousel{
      margin-bottom:80px;
      .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        margin: 0 auto;
      }
      .carousel-control.left{
        background:none;
        left:-85px;
      }
      .carousel-control.right{
        background:none;
        right:-85px;
      }
      .glyphicon-chevron-left:before{
        content:'';
      }
      .glyphicon-chevron-right:before{
        content:'';
      }
    }
  }
  .main{
    margin-bottom: 120px;
    h2.meer-projecten{
      font-weight:100;
      margin-bottom:40px;
    }
  }
}
.single-service{
  .top{
    height:430px;
    position:relative;
    .overlay{
      background:#13017D;
      content:'';
      height:100%;
      opacity:0.8;
      position: absolute;
      width:100%;
      top: 0; left:0; bottom: 0; right: 0;
    }
    .top-banner{
      height:100%;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url(/app/themes/breure/assets/img/desaturate.svg#greyscale);
    }
    .inner{
      height:100%;
      position:absolute;
      width:100%;
      top: 0; left:0; bottom: 0; right: 0;
      .page-header{
        border-bottom:0px;
        margin-top:170px;
        position:relative;
        h1{
          color:white;
          font-weight:100;
          padding-bottom:40px;
          text-align:center;
        }
        hr{
          border:0;
          border-top: 2px solid #90CC08;
          margin: 0px auto;
          width:25%;
        }
        a{
          position:absolute;
          top:20px;
        }
        a.prev{
          left:-20px;
        }
        a.next{
          right:-20px;
        }
      }
    }
  }
  .entry-content{
    padding-top: 100px;
    a{
      color:@brand-success;
      .transition(color .3s ease-in-out);
      &:hover{
        color:lighten(@brand-success, 10%);
      }
    }
    .row{
      margin-bottom:60px;
      .title{
        h6{
          font-size:.875em;
          font-weight: 500;
          letter-spacing: 4px;
          line-height: 31px;
          margin-bottom:0px;
          text-transform: uppercase;
        }
        hr{
          border:0;
          border-top: 1px solid #90CC08;
          margin-left:0px;
          margin-top:0px;
          width:20%;
        }
      }
      .field-content{
        font-size:1.125em;
        font-weight:300;
        line-height:32px;
        padding-top:15px;
      }
    }
    .carousel{
      margin-bottom:80px;
      .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        margin: 0 auto;
      }
      .carousel-control.left{
        background:none;
        left:-85px;
      }
      .carousel-control.right{
        background:none;
        right:-85px;
      }
      .glyphicon-chevron-left:before{
        content:'';
      }
      .glyphicon-chevron-right:before{
        content:'';
      }
    }
  }
  .main{
    margin-bottom: 120px;
    h2.andere-werkzaamheden{
      font-weight:100;
      margin-bottom:40px;
    }
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Side Nav for Mobile
   ========================================================================== */


#wrapper {
 // padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
//  margin-left: -250px;
//  left: 250px;
//  width: 250px;
//  top:0;
//  position: fixed;
//  height: 100%;
//  overflow-y: auto;
//  z-index: 1000;
//  transition: all 0.4s ease 0s;
}

#sidebar-wrapper .dropdown-menu {
  position: relative;
  left: auto;
  top: auto;
  display: block;
  background: none;
  border: none;
  padding-left: 15px;
  box-shadow: none;
}

#sidebar-wrapper :hover {
  background: none;
}

#content-wrapper {
  width: 100%;
}

#sidebar-wrapper .navbar-nav {
  navbar-nav: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-wrapper .navbar-nav li {
  line-height: 40px;
  text-indent: 20px;
  border-bottom: 1px solid @brand-success;
  padding: 5px;
}

#sidebar-wrapper .navbar-nav li a {
  color:@text-color;
  display: block;
  text-decoration: none;
  text-transform:uppercase;
  padding-left:0px;
}

#sidebar-wrapper .navbar-nav li a:active,
#sidebar-wrapper .navbar-nav li a:focus {
  color:@brand-success;
  text-decoration: none;
}

#sidebar-wrapper .navbar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

#wrapper {
  padding-left: 0;
}


#menu-toggle {
  display: inline-block;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block;}
#sidebar-wrapper ul.dropdown-menu li{ border-left: 1px solid darken(@brand-primary,40%);}

.inset { padding: 15px;}
.navbar{z-index: 99;}
.navbar-toggle{z-index: 100; position: absolute; right: 10px;}
//--------------push effect----------------------
//-----------Other options http://tympanus.net/Development/SidebarTransitions/ -------
.st-effect-7.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.st-effect-7 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-7.active .st-pusher {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.st-effect-7.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-7.active .st-effect-7.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
//---- end of the effect ---

//---- ALTERNATIVE EFFECT (disable above first before enabling ----

//.st-effect-7.st-container {
//  -webkit-perspective: 1500px;
//  perspective: 1500px;
//}
//
//.st-effect-7 .st-pusher {
//  -webkit-transform-origin: 0% 50%;
//  transform-origin: 0% 50%;
//  -webkit-transform-style: preserve-3d;
//  transform-style: preserve-3d;
//}
//
//.st-effect-7.active .st-pusher {
//  -webkit-transform: translate3d(250px, 0, 0) rotateY(-15deg);
//  transform: translate3d(300px, 0, 0) rotateY(-15deg);
//}
//
//.st-effect-7.st-menu {
//  -webkit-transform: translate3d(-100%, 0, 0);
//  transform: translate3d(-100%, 0, 0);
//  -webkit-transform-origin: 100% 50%;
//  transform-origin: 100% 50%;
//  -webkit-transform-style: preserve-3d;
//  transform-style: preserve-3d;
//}
//
//.st-effect-7.active .st-effect-7.st-menu {
//  visibility: visible;
//  -webkit-transition: -webkit-transform 0.5s;
//  transition: transform 0.5s;
//  -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
//  transform: translate3d(-100%, 0, 0) rotateY(15deg);
//}
//
//.st-effect-7.st-menu::after {
//  display: none;
//}
//=============================




.active .st-pusher:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-pusher:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 250px;
  height: 100%;
  background: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.stickyfooter {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

footer {
  .top-footer{
    background-image:url('/app/themes/breure/assets/img/img-footer.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    display: inline-block;
    min-height: 60px; /* Set the fixed height of the footer here */
    padding-bottom:80px;
    position:relative;
    width: 100%;
    h2{
      font-weight: 300;
      padding:30px 0;
    }
    .contact-link{
      background:url('/app/themes/breure/assets/img/btn-footer.png') no-repeat 0 0;
      height:53px;
      width:227px;
      .transition(all .3s ease-in-out);
      .aligncenter();
      a{
        color:white;
        font-family:@headings-font-family;
        font-size:24px;
        line-height: 50px;
        padding: 0px 18px;
      }
      &:hover{
        background:url('/app/themes/breure/assets/img/btn-footer-hover.png') no-repeat 0 0;
        .transition(all .3s ease-in-out);
      }
    }
  }
  .bottom-footer{
    margin:10px 0;
    .nav#menu-footer{
      li{
        float:left;
        border-right:1px solid #b5b5b5;
        a{
          color:@text-color;
          font-family:@headings-font-family;
          padding: 5px 15px;
          .transition(color .3s ease-in-out);
          &:hover{
            background:none;
            color:@brand-success;
            .transition(color .3s ease-in-out);
          }
        }
        &:last-of-type{
          border-right:0px;
          a{
            padding-right:0px;
          }
        }
        &:first-of-type a{
          padding-left:0px;
        }
      }
    }
    .copy{
      margin:10px 20px 0 40px;
      p{
        line-height:1;
        margin-bottom:4px;
        &:first-of-type{
          font-family:@headings-font-family;
          font-weight:700;
          margin-bottom:8px;
        }
      }
    }
    .logo1{
      padding-right:5px;
    }
    .logo2{
      border-left:1px solid #b5b5b5;
      margin-left:5px;
    }
  }
}
body.contact footer{
  .top-footer{
    display:none;
  }
  .bottom-footer{
    border-top: 2px solid #454545;
    padding-top: 20px;
  }
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}

@media (min-width: @screen-md-min) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}

@media (min-width: @screen-lg-min) {

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}
@media(max-width: @screen-lg-min){
  .main .top-banner .inner .top-content{
    .top-left-content{
      .page-header{
        margin-bottom: 12px;
        margin-top:30px;
        h1 {
          font-size: 3.5em;
          line-height: 1;
          margin-top: 0;
          margin-bottom:0;
        }
      }
      p{
        font-size:.825em;
        margin-bottom:8px
        &:last-of-type{
          a{
            font-size:.9em;
          }
        }
      }
    }
    .top-right-content {
      .afgerond-project {
        margin-top: 40px;
        h3 {
          font-size: 1.5em;
          padding-top: 0px;
        }
        span {
          font-size: .825em;
          margin-bottom: 10px;
        }
      }
    }
  }
  .main .top-banner .inner .bottom-content {
    bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
  }
  body:not(.home) .main {
    .top-banner {
      .inner {
        .top-content {
          .top-left-content {
            .page-header{
              margin-top:20px;
              h1{
                font-size:2.825em;
                margin-top:60px;
              }
            }
          }
          .top-right-content{
            font-size:.825em;
            margin-top:40px;
          }
        }
      }
    }
  }
}
@media(max-width: @screen-md-min){
  .navbar-right {
    max-width: 85%;
    .navbar-nav li a{
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .main .top-banner .inner .bottom-content, .main .top-banner .inner .top-content .top-right-content{
    display:none;
  }
  .main .top-banner .inner .top-content{
    .top-left-content{
      width:100%;
      .page-header{
        float:left;
        margin-bottom:0px;
        width:50%;
        h1 {
          font-size: 4em;
          line-height: 1.2;
          margin-bottom:100px;
          margin-top: 0;
        }
      }
      p{
        color:white;
        float:right;
        font-size:.825em;
        padding-left: 80px;
        width:50%;
        &:first-of-type{
          margin-top:30px;
          margin-bottom:0;
        }
        &:last-of-type{
          .lees-meer a{
            color:white;
          }
        }
      }
    }
  }
  .main .home-boxes {
    margin-top:40px;
    h5{
      font-size:.825em;
      letter-spacing:2px;
    }
  }
  body:not(.home) .main {
    .top-banner{
      background-size:cover;
      background-position: 50% 0;
      min-height:230px;
      .inner{
        padding-top:0px;
        .top-content{
          position:initial;
          width:100%;
          .top-left-content{
            width:50%;
            .page-header{
              margin-top:0;
              width:100%;
              h1{
                font-size:2em;
                margin-top:60px;
              }
              img{
                height:50px;
                margin-top:60px;
                width:auto;
              }
            }
          }
          .top-right-content{
            display:block;
            float:right;
            font-size:.825em;
            margin-top:20px;
          }
        }
      }
    }
  }
  body.single-service .main .top{
    height:300px;
   .top-banner{
      min-height:300px;
    }
    .inner{
      .container{
        height:100%;
        .page-header{
          margin-top:90px;
          h1 {
            padding-bottom: 30px;
            font-size: 3em;
            width: 80%;
            margin: 30px auto 0;
          }
          a {
            top: 1px;
          }
          a.next {
            right: 0px;
          }
          a.prev {
            left: 0px;
          }
        }
      }
    }
  }
  .single-service .entry-content {
    padding-top: 50px;
  }
  body.single-project .main .top{
    height:300px;
   .top-banner{
      min-height:300px;
    }
    .inner{
      .container{
        height:100%;
        .page-header{
          margin-top:90px;
          h1 {
            padding-bottom: 30px;
            font-size: 3em;
            width: 80%;
            margin: 30px auto 0;
          }
          a {
            top: 1px;
          }
          a.next {
            right: 0px;
          }
          a.prev {
            left: 0px;
          }
        }
      }
    }
  }
  .single-project .entry-content {
    padding-top: 50px;
  }
  footer .bottom-footer{
    ul.nav{
      display:block;
      margin-bottom:20px;
    }
    .copy{
      margin-bottom:20px;
      margin-left:0;
    }
  }
}
@media(max-width: @screen-sm-min){
  .navbar-header{
    .navbar-brand{
      padding: 5px 15px;
      img{
        max-height: 100%;
        width:auto;
      }
    }
    button{
      border-color:#90CC08;
      .icon-bar{
        background-color:#90CC08;
      }
    }
  }
  body.home .main .top-banner .inner .top-content .top-left-content p{
    font-size:.75em;
  }
  .main .top-banner {
    background-size:cover;
    background-position: 0 0;
    color:white;
    min-height:350px;
    .inner .top-content{
      color:white;
      .top-left-content{
        width:65%;
        .page-header{
          margin-bottom:0px;
          margin-top:0px;
          h1 {
            font-size: 1.25em;
            line-height: 1.2;
            margin-bottom:0px;
            margin-top:14px;
          }
        }
        p{
          color:white;
          margin-top:0;
          padding-left:0;
          width:100%;
          &:first-of-type{
            margin-top:10px;
          }
          &:last-of-type .lees-meer a{
            color:white;
          }
        }
      }
    }
  }
  .main .home-boxes {
    margin-top:20px;
  }
  .main .top-banner .inner .bottom-content, .main .top-banner .inner .top-content .top-right-content{
    display:none;
  }
  .main .home-boxes {
    margin-top:20px;
    margin-bottom:40px;
    .box {
      min-height:100%;
      p {
        margin: 20px 0 10px;
      }
    }
  }
  body:not(.home) .main {
    .top-banner{
      min-height:350px;
     .inner{
        padding-top:0px;
        .top-content{
          position:initial;
          .top-left-content{
            width:100%;
            .page-header{
              margin-top: 30px;
              width: 100%;
              h1{
                font-size:2.5em;
                line-height: 2;
                margin-top: 0px;
              }
              img {
                height: 60px;
                margin-top:0px;
                width: auto;
              }
            }
          }
          .top-right-content{
            display:block;
            margin-top:20px;
            padding-left:0px;
            width:100%;
          }
        }
      }
    }
    .boxes{
      margin-top:20px;
    }
  }
  body.single-service .main .top{
    height:140px;
   .top-banner{
      min-height:140px;
    }
    .inner{
      .container{
        height:100%;
        .page-header{
          margin-top:20px;
          h1 {
            padding-bottom: 30px;
            font-size: 2.5em;
            width: 80%;
            margin: 30px auto 0;
          }
          a {
            top: 1px;
          }
          a.next {
            right: 0px;
          }
          a.prev {
            left: 0px;
          }
        }
      }
    }
  }
  .single-service .entry-content {
    padding-top: 30px;
  }
  body.single-proejct .main .top{
    height:140px;
   .top-banner{
      min-height:140px;
    }
    .inner{
      .container{
        height:100%;
        .page-header{
          margin-top:20px;
          h1 {
            padding-bottom: 30px;
            font-size: 2.5em;
            width: 80%;
            margin: 30px auto 0;
          }
          a {
            top: 1px;
          }
          a.next {
            right: 0px;
          }
          a.prev {
            left: 0px;
          }
        }
      }
    }
  }
  .single-project .entry-content {
    padding-top: 30px;
  }
  footer .bottom-footer{
    ul.nav{
      display:none;
    }
    .copy{
      margin-bottom:20px;
      margin-left:0;
    }
  }
}
@media(max-width: @screen-xs-min){
  .main .top-banner {
    min-height:360px;
    .inner .top-content{
      .top-left-content{
        width:80%;
      }
    }
  }
  body:not(.home){
    .main {
      .top-banner {
        min-height:360px;
        .inner{
          height:100%;
          padding-top:20px;
          .top-content{
            position:initial;
            .top-left-content{
              .page-header{
                margin-top:10px;
                margin-bottom:10px;
                width:100%;
                img{
                  margin-right:20px;
                  max-height: 2em;
                  width:auto;
                }
                h1{
                  font-size:1.825em;
                  line-height:1;
                }
              }
            }
            .top-right-content{
              display:block;
              font-size:.9em;
              margin-top:20px;
              padding-left:0px;
              width:100%;
            }
          }
        }
      }
      .boxes{
        margin-top:20px;
        .box{
          width:100%;
        }
      }
      .bottom-content{
        margin-top:20px;
        ul:not(.gform_fields) li {
          font-size: 1.25em;
        }
      }
    }
  }
  body.single-service .main .top{
    height:140px;
   .top-banner{
      min-height:140px;
    }
    .inner{
      .container{
        height:100%;
        .page-header{
          margin-top:20px;
          .head-container{
          }
          h1 {
            padding-bottom: 20px;
            font-size: 2em;
            width: 80%;
            margin: 0 auto;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
          }
          a {
            top: 10px;
          }
          a.next {
            right: 0px;
          }
          a.prev {
            left: 0px;
          }
        }
      }
    }
  }
  .single-service .entry-content {
    padding-top: 20px;
  }
  body.single-project .main .top {
    height:140px;
    .top-banner{
      min-height:140px;
    }
    .inner{
      .container{
        height:100%;
        .page-header{
          margin-top:20px;
          .head-container{
          }
          h1 {
            padding-bottom: 20px;
            font-size: 2em;
            width: 80%;
            margin: 0 auto;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
          }
          a {
            top: 10px;
          }
          a.next {
            right: 0px;
          }
          a.prev {
            left: 0px;
          }
        }
      }
    }
  }
  .single-project .entry-content {
    padding-top: 20px;
  }
}